[submodule "lib/ESPAsyncWebServer"]
	path = lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "lib/ESPAsyncTCP"]
	path = lib/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP
[submodule "lib/ESPAsync_WiFiManager"]
	path = lib/ESPAsync_WiFiManager
	url = https://github.com/khoih-prog/ESPAsync_WiFiManager.git
