html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

.body {
    background-color: white;
    color: black;
    text-align: left;
    max-width: max-content;
    height: 550px;
    max-height: 550px;
}

h1 {
    color: #0F3376;
    padding: 2vh;
}

p {
    font-size: 1.5rem;
}

.units {
    font-size: 1.2rem;
}

.page {
    text-align: center;
    overflow: auto;
    justify-content: center;
    padding: 10px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.box {
    float: left;
    max-height: 500px;
    max-width: 500px;
    padding: 10px;
    display: flex;
    margin: auto;
}

.fill {
    width: 100%;
    height: inherit;
}

.status {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    border: 1px solid navy;
}

.status_row {
    width: 100%;
        display: block;
        float: left;
}

#map {
    /* background-image: url("back.png");
    background-position: center;
    background-repeat: no-repeat; */
}

#buttons {
    display: flow-root;
}

#form_buttons {
    display: block;
}

#info {
    display: inline;
}

.label {
    font-size: 1.5rem;
    padding-right: 10px;
    margin: 0px;
}

.data {
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
}

#circle {
    display: none;
}

#crosshair {
    display: none;
}

.button {
    width: 95%;
    height: 95%;
}

.status {
    align-items: center;
    text-align: center;
    width: 100%;
}

#s {
    display: none;
}

#state {
    align-items: center;
    text-align: center;
    width: 100%;
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  vertical-align: middle;
}

.grid div {
    text-align: center;
    min-height: 50px;
    display: inline-block;
}

#input {
    display: none;
}

#set {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}